@model PDV.Models.Fornecedor

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Fornecedor</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.PessoaId)

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CPFCNPJ, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CPFCNPJ)
                @Html.ValidationMessageFor(model => model.CPFCNPJ)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nome, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome)
                @Html.ValidationMessageFor(model => model.Nome)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FornecedorId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FornecedorId)
                @Html.ValidationMessageFor(model => model.FornecedorId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InscricaoEstadual, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InscricaoEstadual)
                @Html.ValidationMessageFor(model => model.InscricaoEstadual)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UltimaCompra, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UltimaCompra)
                @Html.ValidationMessageFor(model => model.UltimaCompra)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
